@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
.accordion-button[aria-expanded="true"] {
  color: #f46f22 !important;
  border: none;
  outline: none;
  font-weight: 600;
  box-shadow: none;
}

.sidebar-list {
  margin: 7px 0;
}

.sidebar-link,
.sidebar-sub-link {
  color: #3b3b3b !important;
  transition: all 0.2s ease-in-out;
}

.sidebar-link:hover {
  color: #f46f22 !important;
}

.sidebar-sub-link:hover {
  color: #f46f22 !important;
}

.sidebar-sub-list {
  margin: 5px 0;
}

.offcanvas-body::-webkit-scrollbar {
  background-color: #b6b6b6 !important;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.navbar-dropdown-toggle::after {
  display: none;
  content: "" !important;
}












.dropdown-menu{
  border-radius: 20px;
}
.dropdown-item:hover{
color: #a590cf;
}
.dropdown-menu > ul > li{
  margin: 20px 0;
}

.bradius{
  border-radius: 12px;
}





.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .nav-link {
      transition: none; } }
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }
  .nav-tabs .nav-link {
    margin-bottom: 1px;
    background: none;
     }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: #e9ecef #e9ecef #dee2e6;
      isolation: isolate; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #F8F8F8;
    border-color: #dee2e6 #dee2e6 #F8F8F8; }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
     }

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 1.25rem; }
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #886CC0; }

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center; }

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center; }

.tab-content > .tab-pane {
  display: none; }
.tab-content > .active {
  display: block; }










ol, ul {
  padding-left: 0rem;
}

li {
  list-style: none;
}



.chatbox .card-fotter {
  padding: 0.75rem 1rem; }
.chatbox .card-body {
  padding: 1rem; }
.chatbox.active {
  right: 0; }
  .chatbox.active .chatbox-close {
    width: 100vw; }
.chatbox .type_msg {
  padding-top: 0.625rem; }
.chatbox .nav {
  padding: 1rem 1rem 0 1rem;
  background: var(--rgba-primary-1);
  border: 0;
  justify-content: space-between; }
  .chatbox .nav .nav-link {
    color: var(--primary);
    opacity: 0.7;
    text-transform: uppercase; }
    .chatbox .nav .nav-link:hover, .chatbox .nav .nav-link.active {
      background: transparent;
      color: var(--primary);
      opacity: 1;
      border-color: var(--primary); }
.chatbox .img_cont {
  width: 2.5rem;
  border-radius: 2.5rem;
  margin-right: 0.625rem;
  position: relative;
  height: 2.5rem;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  min-width: 2.5rem;
  min-height: 2.5rem; }
  .chatbox .img_cont .icon {
    color: #fff; }
  .chatbox .img_cont.primary {
    background: var(--rgba-primary-1);
    color: var(--primary); }
    [data-theme-version="dark"] .chatbox .img_cont.primary {
      background: var(--rgba-primary-1); }
  .chatbox .img_cont.warning {
    background: #fff9ed;
    color: #FFCF6D; }
    [data-theme-version="dark"] .chatbox .img_cont.warning {
      background: rgba(255, 207, 109, 0.1); }
  .chatbox .img_cont.success {
    background: #67f890;
    color: #09BD3C; }
    [data-theme-version="dark"] .chatbox .img_cont.success {
      background: rgba(9, 189, 60, 0.1); }
  .chatbox .img_cont.info {
    background: #efbae6;
    color: #D653C1; }
    [data-theme-version="dark"] .chatbox .img_cont.info {
      background: rgba(214, 83, 193, 0.1); }
  .chatbox .img_cont img {
    width: 100%; }
  .chatbox .img_cont .online_icon {
    background: #09BD3C;
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.9375rem;
    right: -0.0625rem;
    bottom: 0rem;
    border: 0.125rem solid #fff; }
    .chatbox .img_cont .online_icon.offline {
      background: #FC2E53; }
.chatbox .card {
  box-shadow: none; }
.chatbox .search {
  height: 2.5rem; }
.chatbox .user_info span {
  font-size: 0.9375rem;
  color: #000;
  display: block;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.3125rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 10.625rem; }
  [data-theme-version="dark"] .chatbox .user_info span {
    color: #fff; }


.chatbox .user_info p {
  font-size: 0.8125rem;
  margin-bottom: 0;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 10.625rem; }

.chatbox .contacts li {
  padding: 0.4375rem 1rem;
  border-bottom: 0.0625rem solid #eee;
  cursor: pointer; }

.chatbox .contacts li > div {
  display: flex;
  align-items: center; }
.chatbox .contacts li:hover {
  background: #f4f7ff; }


.name-first-letter {
  background: #F8F8F8;
  padding: 0.25rem 1rem;
  font-weight: 700;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 1; }




.table-header-style {
  background: #f46f22;
  color: white;
  border-radius: 5px;
}

/* .order-table-body tr {
  transition: 0.3s;
}
.order-table-body tr:hover {
  background: rgba(204, 204, 204, 0.623);
} */

.fd-btn {
  background: #f46f22;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 2px;
  transition: 0.3s;
  outline: 1px solid white;
}

.fd-btn:hover {
  background: #d45003;
}

/* .sidebar-sub-link::before {
  content: "";
  width: 5px;
  height: 2px;
  background: red;
  display: block;
  position: relative;
  top: 50%;
} */

.dataTables_filter label {
  background: #f46f22;
  color: white;
  border: none;
  padding: 0px 0px 0px 15px;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
  outline: 1px solid white;
}

.dataTables_filter label:hover {
  background: #d45003;
}

.dataTables_length label {
  font-weight: 500;
}

.paginate_button .active {
  background: #f46f22 !important;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
  outline: 1px solid white;
}
