@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 1200px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
  .offcanvas-button,
  .navbar-toggle-button {
    display: none !important;
  }
}

.offcanvas-button,
.navbar-toggle-button {
  border: none;
  font-size: 35px;
  color: #f46f22 !important;
  margin-right: 30px;
  background: white;
  border-radius: 3px;
  transition: 0.3s;
}

.offcanvas-button {
  font-size: 28px;
}
.offcanvas-button:hover,
.navbar-toggle-button:hover {
  background: rgb(228, 228, 228);
}
.accordion-button[aria-expanded="true"] {
  color: #f46f22 !important;
  border: none;
  outline: none;
  font-weight: 600;
  box-shadow: none;
}

.sidebar-list {
  margin: 7px 0;
}

.sidebar-link,
.sidebar-sub-link {
  color: #3b3b3b !important;
  transition: all 0.2s ease-in-out;
}

.sidebar-link:hover {
  color: #f46f22 !important;
}

.sidebar-sub-link:hover {
  color: #f46f22 !important;
}

.sidebar-sub-list {
  margin: 5px 0;
}

.offcanvas-body::-webkit-scrollbar {
  background-color: #b6b6b6 !important;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.navbar-dropdown-toggle::after {
  display: none;
  content: "" !important;
}

.navbar-search-field:focus {
  box-shadow: none;
  border: 1px solid #f46f22a8 !important;
}

.table-header-style {
  background: #f46f22;
  color: white;
  border-radius: 5px;
}

.fd-btn {
  background: #f46f22;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 2px;
  transition: 0.3s;
  outline: 1px solid white;
}

.fd-btn:hover {
  background: #d45003;
}

.dataTables_filter label {
  background: #f46f22;
  color: white;
  border: none;
  padding: 0px 0px 0px 15px;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
  outline: 1px solid white;
}

.dataTables_filter label:hover {
  background: #d45003;
}

.dataTables_length label {
  font-weight: 500;
}

.paginate_button.active a {
  background: #f46f22 !important;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
  outline: 1px solid white;
  box-shadow: none;
}

.paginate_button a {
  color: rgba(0, 0, 0, 0.781);
  font-weight: bold;
}

.paginate_button a:hover {
  color: #f46f22;
}

div.dt-buttons {
  float: right;
  margin-bottom: 15px;
}

div.dataTables_length {
  display: inline !important;
  margin-left: 220px;
}
div.dataTables_filter {
  display: inline !important;
  float: left;
}

div.dataTables_filter input:focus {
  box-shadow: none;
  border: 1px solid #f46f22 !important;
}

.buttons-html5,
.buttons-print {
  background: #f46f22;
  border: none;
  transition: 0.3s;
}

.buttons-html5:hover,
.buttons-print:hover {
  background: #c44b05;
}

.dataTables_length select:focus {
  box-shadow: none;
  border: 1px solid #f46f22 !important;
}

.dataTables_length select option:hover {
  background: #000;
}

@media only screen and (max-width: 576px) {
  .dt-buttons .buttons-print {
    display: none;
  }
  div.dataTables_length {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 14px;
  }
  div.dataTables_filter {
    margin-bottom: 14px;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 992px) {
  div.dataTables_length {
    margin-left: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  div.dataTables_length {
    margin-left: 220px;
  }
}

/* summernote  style start here  */

.panel-heading.note-toolbar {
  /* background: #2751ad; */
  border-bottom: 1px solid rgba(156, 156, 156, 0.568);
  color: white;
}

.panel-heading.note-toolbar .note-btn-group {
  border-right: 1px solid rgba(156, 156, 156, 0.582);
}

.note-editable ul {
  list-style: disc !important;
  list-style-position: inside !important;
}

.note-editable ol {
  list-style: decimal !important;
  list-style-position: inside !important;
}

.modal-content .modal-header .close {
  border: none;
  background: rgb(243, 93, 93);
  border-radius: 2px;
  font-size: 20px;
  color: white;
}

.close-jq-toast-single {
  font-size: 25px;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
}

.swal2-styled.swal2-confirm {
  background: #f46f22 !important;
}

/* file upload button  */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 3px;
}
.custom-file-input::before {
  content: "Select Files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border-right: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  transition: 0.3s;
}
.custom-file-input:hover::before {
  border-color: rgb(119, 119, 119);
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* azad vai  start */

/* AZAD */

@media only screen and (max-width: 1200px) {
  .offcanvas-backdrop::before {
    position: relative;
  }
  .dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: -145px;
  }
}

.dropdown-menu {
  border-radius: 20px;
}
.dropdown-item:hover {
  color: #a590cf;
}
.dropdown-menu > ul > li {
  margin: 20px 0;
}

.bradius {
  border-radius: 12px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: 1px;
  background: none;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #f8f8f8;
  border-color: #dee2e6 #dee2e6 #f8f8f8;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
}
.nav-tabs .nav-link:hover {
  color: #6c4bae;
  border-bottom: 1px solid #6c4bae;
}
.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 1.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #886cc0;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

ol,
ul {
  padding-left: 0rem;
}

li {
  list-style: none;
}

.chatbox .card-fotter {
  padding: 0.75rem 1rem;
}
.chatbox .card-body {
  padding: 1rem;
}
.chatbox.active {
  right: 0;
}
.chatbox.active .chatbox-close {
  width: 100vw;
}
.chatbox .type_msg {
  padding-top: 0.625rem;
}
.chatbox .nav {
  padding: 1rem 1rem 0 1rem;
  background: var(--rgba-primary-1);
  border: 0;
  justify-content: space-between;
}
.chatbox .nav .nav-link {
  color: var(--primary);
  opacity: 0.7;
  text-transform: uppercase;
}
.chatbox .nav .nav-link:hover,
.chatbox .nav .nav-link.active {
  background: transparent;
  color: var(--primary);
  opacity: 1;
  border-color: var(--primary);
}
.chatbox .img_cont {
  width: 2.5rem;
  border-radius: 2.5rem;
  margin-right: 0.625rem;
  position: relative;
  height: 2.5rem;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}
.chatbox .img_cont .icon {
  color: #fff;
}
.chatbox .img_cont.primary {
  background: var(--rgba-primary-1);
  color: var(--primary);
}
[data-theme-version="dark"] .chatbox .img_cont.primary {
  background: var(--rgba-primary-1);
}
.chatbox .img_cont.warning {
  background: #fff9ed;
  color: #ffcf6d;
}
[data-theme-version="dark"] .chatbox .img_cont.warning {
  background: rgba(255, 207, 109, 0.1);
}
.chatbox .img_cont.success {
  background: #67f890;
  color: #09bd3c;
}
[data-theme-version="dark"] .chatbox .img_cont.success {
  background: rgba(9, 189, 60, 0.1);
}
.chatbox .img_cont.info {
  background: #efbae6;
  color: #d653c1;
}
[data-theme-version="dark"] .chatbox .img_cont.info {
  background: rgba(214, 83, 193, 0.1);
}
.chatbox .img_cont img {
  width: 100%;
}
.chatbox .img_cont .online_icon {
  background: #09bd3c;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.9375rem;
  right: -0.0625rem;
  bottom: 0rem;
  border: 0.125rem solid #fff;
}
.chatbox .img_cont .online_icon.offline {
  background: #fc2e53;
}
.chatbox .card {
  box-shadow: none;
}
.chatbox .search {
  height: 2.5rem;
}
.chatbox .user_info span {
  font-size: 0.9375rem;
  color: #000;
  display: block;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.3125rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 10.625rem;
}
[data-theme-version="dark"] .chatbox .user_info span {
  color: #fff;
}

.chatbox .user_info p {
  font-size: 0.8125rem;
  margin-bottom: 0;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 10.625rem;
}

.chatbox .contacts li {
  padding: 0.4375rem 1rem;
  border-bottom: 0.0625rem solid #eee;
  cursor: pointer;
}

.chatbox .contacts li > div {
  display: flex;
  align-items: center;
}
.chatbox .contacts li:hover {
  background: #f4f7ff;
}

.name-first-letter {
  background: #f8f8f8;
  padding: 0.25rem 1rem;
  font-weight: 700;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 1;
}
